{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}

{% block content %}
<div class="form-container">
    <h3 class="form-title">Forgot Password</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Enter your registered email</label>
            <input type="email" class="form-control" name="email" required placeholder="you@example.com">
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
    <p class="footer-note">
        <a href="{% url 'login' %}">Back to Login</a>
    </p>
</div>
{% endblock %}
