<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Great you are in login page</h1>
	{% if messages %}
    <ul>
        {% for message in messages %}
        	<div class="alert alert-info">
            	<li>{{ message }}</li>
            </div>
        {% endfor %}
    </ul>
	{% endif %}



	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Log_in</button>
	</form>
	<br>
	<br>
	<a href="{% url 'register' %}"><button type="button">Register</button></a>


</body>
</html>